html, body, #react-root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#content {
    width: 100%;
    height: 100%;
    background-color: #EAEAEA;
    display: flex;
    overflow: auto;
}

#container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
}

h1 {
    text-align: center;
}

/*************
*  SELECT INPUT
**************/
.Select {
    display: inline-block;
    width: 150px;
    margin: 4px 5px 10px 5px;
}

.Select-control {
    border-radius: 0 !important;
    background-color: transparent !important;
}

/*************
*  HOMEPAGE
**************/
#homePage {
    margin-bottom: 16px;
    width: 100%;
}

#homePage h2 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    font-weight: normal;
}

#homePage .graphContainer, #homePage .predictionContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px;
    width: 100%;
    overflow: auto;
}

#homePage .graph {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#homePage .graphInputContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
}

#homePage .selectTdp {
    margin-top: 2px;
}

#homePage .slider {
    width: 170px;
    margin-top: 17px;
    margin-left: 5px;
}

#configurationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#configurationBar .selectTypeContainer {
    display: flex;
}

#configurationBar .inputsContainer {
   display: flex;
}

.predictionContainer h2 {
    text-align: center;
}

.predictionContainer .inputsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.predictionContainer .inputsContainer .dataPickerContainer {
    display: flex;
    flex-direction: row;
}

.predictionContainer .predictionMessageContainer {
    text-align: center;
    margin-top: 55px;
}

.predictionContainer .predictionMessage {
    text-align: center;
    font-size: large;
}

.loader {
    margin: auto
}
