/* CSS declarations go here */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
}
h1 {
    text-align: center;
}

.Select {
    display: inline-block;
    width: 150px;
    margin-left: 60px;
    margin-bottom: 10px;

}
